<div class="card">
    <div class="card-body">
        <h5 class="card-title">@currentTime</h5>
        <button class="btn btn-primary" @onclick="Display">Dispaly Time</button>
    </div>
</div>

@code {
    private DateTime currentTime;

    private void Display()
    {
        currentTime = DateTime.Now;
    }
}
