@page "/"
@using BlazorWasm.Client.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<DisplayTime @rendermode="InteractiveWebAssembly"></DisplayTime>
<br />
<Counter @rendermode="InteractiveWebAssembly"></Counter>
<br />
<Todo @rendermode="InteractiveWebAssembly"></Todo>
